<aside>
    <div class="eventWrap">
        <ul class="triangleList">
            <li><a href="#">開店慶 全店85折</a></li>
            <li><a href="#">迪士尼歡慶 一件49</a></li>
        </ul>
    </div> 
    <div class="catWrap">
        <ul class="cat-role triangleList">
            <li><a href="#">米奇朋友</a></li>
            <li><a href="#">米妮朋友</a></li>
            <li><a href="#">小熊維尼</a></li>
            <li><a href="#">史迪奇</a></li>
            <li><a href="#">奇奇蒂蒂</a></li>
            <li><a href="#">冰雪奇緣</a></li>
        </ul>
        <p>襪子</p>
        <ul>
            <li><a href="#">隱形襪</a></li>
            <li><a href="#">短襪</a></li>
            <li><a href="#">長襪</a></li>
            <li><a href="#">半筒襪</a></li>
            <li><a href="#">褲襪</a></li>
        </ul>
        <p>內著</p>   
        <ul>
            <li><a href="#">背心</a></li>
            <li><a href="#">內衣</a></li>
            <li><a href="#">內褲</a></li>
            <li><a href="#">平口褲</a></li>
            <li><a href="#">上衣</a></li>
            <li><a href="#">下身</a></li>
            <li><a href="#">套裝組</a></li>
        </ul>
        <p>居家</p>   
        <ul>
            <li><a href="#">毛巾</a></li>
            <li><a href="#">大浴巾</a></li>
        </ul>
        <p>飾品配件</p>
        <ul>
            <li><a href="#">眼罩</a></li>
            <li><a href="#">口罩</a></li>
        </ul>
    </div>
</aside>